<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">Sign In</h1>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'user' }) do |f| %>
  <div class="form-group">
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>
  <div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-user', placeholder: "Enter Email Address..."%>
  </div>
  <div class="form-group">
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control form-control-user', placeholder: "Password" %>
  </div>
  <div class="form-group">
    <div class="custom-control custom-checkbox small">
      <%= f.check_box :remember_me, class: 'custom-control-input' %>
      <label class="custom-control-label" for="user_remember_me">Remember Me</label>
    </div>
  </div>
  <%= f.submit "Sign In", class: 'btn btn-primary btn-user btn-block' %>
  <hr>
<% end %>
<%= render "users/shared/links" %>
