<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">Resend unlock instructions</h1>
</div>
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'user' }) do |f| %>
  <div class="form-group">
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>
  <div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-user', placeholder: "Enter Email Address..."%>
  </div>
  <%= f.submit "Resend unlock instructions", class: 'btn btn-primary btn-user btn-block' %>
  <hr>
<% end %>
<%= render "users/shared/links" %>
