<div class="card" style="margin-top: 5px;">
  <div class="card-header" id="heading-1-<%= time_slot.to_i %>">
    <h6 class="mb-0">
      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-<%= time_slot.to_i %>" aria-expanded="false" aria-controls="collapse-1-<%= time_slot.to_i %>" style="text-decoration: none;">
        <% reservations_made = @reservations.select { |reservation| reservation.reservation_date == time_slot }.count %>
        <% reservations_available = @company.customers_per_unit_of_time - reservations_made %>
        <%= time_slot.strftime('%H:%M') %> - <%= (time_slot + @company.unit_of_time.minutes).strftime('%H:%M') %> (<%= reservations_made %> reservations made, <%= reservations_available %> reservations available  )
      </a>
    </h6>
  </div>
  <div id="collapse-1-<%= time_slot.to_i %>" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-<%= time_slot.to_i %>">
    <div class="card-body" style="padding: 0px;">

      <table class="table table-striped" style="margin-bottom: 0px;">
        <tbody>
          <% @reservations.select { |reservation| reservation.reservation_date == time_slot }.each_with_index do |reservation, index| %>
            <tr>
              <td style="text-align: left;">
                <%=  Phonelib.parse(reservation.phone_number).full_international %>
              </td>
              <td style="text-align: center;">
                <%= reservation.details || 'No additional details provided' %>
              </td>
              <td style="text-align: right;">
                <a href="#" data-toggle="modal" data-target="#cancel_reservation_<%= reservation.id %>" class="btn btn-sm btn-outline-danger">
                  Cancel
                </a>
              </td>

              <%= render partial: 'companies/partials/cancel_reservation', locals: { reservation: reservation } %>

            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
