<div class="card">
  <div class="card-header">
    How it works ?
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <div class="row">
        <div class="col-lg-12 order-lg-1 my-auto showcase-text">
          <h4><%= t 'how_it_works.description' %></h4>
          <ol>
            <li class="lead mb-0"><%= t('how_it_works.step_1_html') %></li>
            <li class="lead mb-0"><%= t('how_it_works.step_2_html') %></li>
            <li class="lead mb-0"><%= t 'how_it_works.step_3_html' %></li>
            <li class="lead mb-0"><%= t 'how_it_works.step_4_html' %></li>
            <li class="lead mb-0"><%= t 'how_it_works.step_5_html' %></li>
            <li class="lead mb-0"><%= t 'how_it_works.example_html' %></li>
          </ol>
          <h4><%= t 'how_it_works.help_html' %></h4>
        </div>
      </div>
    </blockquote>
  </div>
</div>
